body{
    font-family: 'lato',sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: rgb(49, 195, 141);
    }

.banner-container{
    display: flex;
    justify-content:space-around;
    padding: 10px;
    /* margin-top: 40px; */
    align-items: center;
    height:100vh;
    background-color: #fff8f3;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-blend-mode: overlay; */
    }
    
.banner-container1{
    display: flex;
    justify-content:space-around;
    padding: 10px;
    /* margin-top: 40px; */
    align-items: center;
    height:100vh;
    background-color: #fff8f3;
margin-top: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-blend-mode: overlay; */
    }
    .photo3{
        width: 700px;
    }
    .photo1{
        width: 400px;
    }
    .banner-text{
    
    }
    .title{
    font-size:54px;
    font-weight: bold;
    
    }
    
    .descriptions{
        font-size: 18px;
        margin-top:15px
    }
    .btn{
        border-radius:5px;
        background-color:rgb(249, 122, 143);
        border:0 ;
        color:white;
        font-size:20px;
        font-weight:700;
        padding: 15px 35px;


        /*margin-top: 20px;
        padding: 13px 20px;
        outline: none;
        background-color: orangered;
        border-radius: 3px;
        border: none;
        color: white;*/
    }
    .about-us{
        text-align: center;
        padding-top:20px;
    }
    
    .box{
        width: 200px;
        height: 280px;
        /* border: 1px solid gray; */
        padding: 15px;
        text-align: center;
        border-radius: 10px;
    }
    .box-title{
        padding:10px;
    }
    .box-btn{
        background-color: #1c1b1b;
    }
    .icon{
        width:450px;
    }
    .service-container{
        /* height:50vh; */
        color:blueviolet;
        padding: 50px;
        flex-wrap: wrap;
    
    }
    .box-container{
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        margin-right: 20px;
    }
    
    .container{
        margin-top: 300px;
        margin-left: 100px;
        margin-right: 100px;
        width:2000px;
        height:20vh;
        background-image: url('Rectangle\ 9.png');
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .design{
        margin-left: 10px;
    display:block;
    text-align:center;
    }
    form{
        background: '#fff';
        width:600px;
        height:55px;
        display:flex;

    }
form input{
    flex:1;
    border:none;
    outline:none;
}
form button{
    background: #FD6E0A;
    padding: 10px 50px;
    border:none;
    outline: none;
    color:#fff;
    letter-spacing: 1px;
    cursor:pointer;
}




.photo{
    width: 300px;
}

.descriptions{
    font-size: 18px;
    margin-top:15px
}
.back{
    background-color: #c7d8d3;
    margin-bottom: 2px;

}

.about-us-container{
    display: flex;
    padding: 25px;
    justify-content: space-around;
    margin-top:20px;
    flex-direction: row-reverse;
}

.about-us{
    text-align: center;
    padding-top:20px;
}



footer{
    background: #1c1b1b;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    margin-top: 50px;
    padding-top:40px;
    color:#fff,
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 700;
    text-transform:capitalize;
    line-height:3rem;
    color: #fff;

}
.footer-content p{
    max-width:500px;
    margin:10px auto;
    line-height: 28px;
    font-size: 16px;
    color: #fff;
}
.footer-bottom{
    width:100vw;
    padding:20px 0;
    text-align: center;
    color: #fff;
}
.footer-bottom{
    font-size: 16px;
    word-spacing: 2px;
    text-transform: capitalize;
}





